<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4">Registro</h2>
        <div class="auto-form-wrapper">
          <form (ngSubmit)="onSubmit(formRegister)" #formRegister="ngForm" ngNativeValidate>
            <div class="form-group">
              <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" placeholder="Nombre"
                required />
            </div>
            <div class="form-group">
              <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Correo"
                required />
            </div>
            <div class="form-group">
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password"
                required />
            </div>
            <div class="form-group">
              <button *ngIf="!loading" [disabled]="formRegister.invalid" class="btn btn-primary submit-btn btn-block">
                Crear cuenta
              </button>
              <button *ngIf="loading" [disabled]="true" class=" btn btn-primary submit-btn btn-block">
                <i class="fa fa-spin fa-sync"></i>
                Procesando...
              </button>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">ya tienes una cuenta?</span> <br />
              <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="text-black text-small">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
